@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */

/* commend style */
.display-flex {
    display: flex;
}

main>section {
    margin-top: 130px;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    padding: 20px 25px;
    color: #ffF;
    font-weight: 700;
    font-size: 1rem;
}

.bg-color {
    background: rgba(255, 144, 14, 0.1);
}

/* navbar  style*/
.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;

}

.list-link {
    list-style: none;

}

.list-main {
    text-decoration: none;
    margin-right: 20px;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

/* header style */

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;

}

/*banner content style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

.banner-img {
    width: 100%;
}

/* Quick section start hear */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.quick {
    align-items: center;
}

.quick-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.name-1 {
    color: rgb(114, 114, 114);
    font-size: 2.8rem;
    font-weight: 500;
}

.name-2 {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 500;
}

.name-3 {
    color: rgb(255, 144, 14);
    font-size: 2.8rem;
    font-weight: 700;
}

.quick-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

.quick-title {
    max-width: 537px;
    margin-left: 130px;
    gap: 40px;
}

/* featuer section sontaint st */

.Feature-container {
    gap: 100px;
}

#featuer-border {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.font-weidth{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.featuers-description {
    font-size: 1rem;
    font-weight: 500;
}

.featuer-containt {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 40px 42px;
    margin-bottom: 20px;
    font-size: 1rem;

}

.featuer-heading {
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}




.featuer-architeact img {
    width: 100%;
}

.btn-width {
    width: 258px;
    height: 109px;
    margin-top: -100px;
    margin-left: -100px;
}

/* some fact related style  */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-style {
    border: 1px solid orange;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number {
    font-size: 2.85rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* our-info style */
.our-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.our-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.our-container img {
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width:576px) {

    .navbar,
    .list-link,
    .quick,
    .Feature-container {
        flex-direction: column;
        /* gap: 20px 0px; */
    }

    .quick-img,
    .fact-container,
    .our-container {
        grid-template-columns: 1fr;

    }

    .fact-container,
    .our-container,
    .Feature-container 
     {
        justify-items: center;
        gap: 24px;
    }

    .quick-title {
        margin-left: 20px;
    }


    .btn-width {
        width: 258px;
        height: 109px;
        margin-top: 10px;
        margin-left: 10px;
    }



}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .quick {
        flex-direction: column;
    }

    .quick-title {
        margin-left: 10px;
    }
    .fact-container,
    .our-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .btn-width{
        margin-top: 20px;
        margin-left: 20px;
    }
}